<form class="forma" [formGroup]="proizvodForma" (ngSubmit)="SaveChanges()">
  <!-- ... other form controls ... -->
  <div class="forma__group">
    <label for="naziv">Name:</label>
  <input formControlName="naziv" size="15" placeholder="{{ proizvod.Naziv }}">
  </div>
  <div class="forma__group">
    <label for="stanje">State:</label>
  <input formControlName="stanje" size="10" placeholder="{{ proizvod.Stanje }}">
</div>

<div class="forma__group">
    <label for="kolicina">Quantity:</label>
    <input formControlName="kolicina" size="3" placeholder="{{ proizvod.Kolicina }}">
</div>

<div class="forma__group">
    <label for="cijena">Price:</label>
  <input formControlName="cijena" size="5" placeholder="{{ proizvod.Cijena }}">
  </div>
  <div class="forma__group">
    <label for="opis">Description:</label>
  <input formControlName="opis" size="80" placeholder="{{ proizvod.Opis }}">
</div>    
  
<div class="forma__group">
    <label for="slikaFile">Image:</label>
  <input type="file" (change)="handleFileInput($event)" accept="image/*" formControlName="slikaFile">
</div>

<div class="forma__group">
    <label for="dobavljacProizvodaID">Dobavljac:</label>
  <input formControlName="dobavljacProizvodaID" size="3" placeholder="{{ proizvod.DobavljacProizvodaID }}">
  </div>
  <button type="submit">Save</button>
</form>
<app-alert *ngIf="showAlert" message="Proizvod edited successfully!" type="success"></app-alert>