<div class="container">
<div *ngIf="proizvod">
    <img src="{{proizvod.slikaProizvoda}}" class="slika-proizvoda" width="400" height="400" alt="...">
    <div class="text">
        <h2 class="naziv">{{ proizvod.naziv }}</h2>
        <br>
        <p class="cijena">{{ proizvod.cijena }} KM</p>
        <br>
        <p class="cijena"> Stanje: {{ proizvod.stanje }} </p>
        <br>

        <a routerLink="/cart" class="dodaj-u-korpu">Add to Cart</a>
        <br>

    </div>
    <br>
    <hr>

    <div class="opis" [innerHTML]="formatiranjeOpisa(proizvod.opis)"></div>
  </div>

</div>
