<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <title>Mobix</title>
</head>

<div class="mx-auto" style="max-width: 600px; background-color: white; margin-top:20px;">
  <div class="container" style="width:fit-content;">
    <div class="titlecontainer">
        <h1 class="title">MOBIX</h1>
        <h1 class="title">SHOP</h1>
    </div>

    <img src="../assets/LogoPink.png" alt="logo" class="image" />
  </div>
</div>
<div id="search" class="mx-auto">
  <form class="form-inline" asp-action="PrikazProizvoda" asp-controller="Home">
    <input [(ngModel)]="filterProizvod" id="searchbar" type="search" placeholder="Search" aria-label="Search" name="q">
      <button type="button" class="search-button" (click)="search()">Search</button>
  </form>
</div>

<app-carousel></app-carousel>


<!--<app-catalog [filterProizvod] = "filterProizvod"></app-catalog>-->
<!-- This is the carousel -->
<!-- <app-carousel [images]="images" >
</app-carousel> -->
