.card-img-top{
    width: 236px;
    height: 236px;
}

.buttons {
    height: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 10px;
    width: 220px;
    justify-content: space-around;
}

.button {
    color: palevioletred;
    margin-left: 20px;
    margin-bottom: 10px;
}

.button:hover{
    color: white;
    background-color: palevioletred;
}

.delete-button{
    border-radius: 40px;
    top: -10px;
    right: -10px;
    position: absolute;
    height: 30px;
    width: 30px;
    margin: auto;
    border-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.divider {
    color: palevioletred;
    margin-bottom: 20px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    color: palevioletred;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .modal-button {
    background-color: palevioletred;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
  }

  .pagination {
    height: 60px;
    width: 100%;
    justify-content: center;
  }

  .card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
  }

  .card-buttons{
    text-align:center; 
    background-color:rgb(216, 112, 147); 
    color: white; 
    height: 35px; 
    width: 100px; 
    border-radius: 7px; 
    border: 0; 
    padding: 5px;
  }

  .sort-container{
    width: fit-content;
    height: fit-content;
    background-color: palevioletred;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  #sortSelect{
    margin: 10px;
    border: none;
  }

  .card-buttons:hover{
    background: white;
    color: palevioletred;
    border: 1px solid palevioletred;
    text-decoration: none;
  }

  #search{
    width: 904px;
    margin-top: 40px;
  }

  #searchbar{
    width:818px; 
    height:35px; 
    border-radius: 20px; 
    margin-right: 5px; 
    padding-left: 20px; 
    border-color:palevioletred;
  }

  .image{
    width:250px;
    height:250px;
  }

  .titlecontainer{
    width: 300px; 
    height:auto; 
    display: grid; 
    float: right; 
    margin-top: 30px;
  }

  .title{
    font-size: 80px; 
    text-align: center;
    font-family: Helvetica; 
    color: palevioletred; 
    height:90px;
  }

  .search-button{
    background-color:palevioletred; 
    color: white; 
    height: 35px; 
    width: 80px; 
    border-radius: 10px; 
    border: 0; 
    cursor: pointer
  }

  .search-button:hover{
    color: palevioletred;
    background: white;
    border: 1px solid palevioletred;
  }

  @media (max-width:900px) {
    #searchbar{
        width:fit-content; 
    }

    #search{
        width: 320px;
    }

    .image{
        width: 120px;
        height: 120px;
        margin-top: 30px;
    }

    .titlecontainer{
        width:auto;
        height:auto; 
        display: grid; 
        float: right; 
        margin-top: 30px;
    }

    .title{
        font-size: 50px; 
        text-align: center;
        font-family: Helvetica; 
        color: palevioletred; 
        height:40px;
      }
  }